apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config-alert-rules
  namespace: $COMPOSE_PROJECT_NAME
data:
  prometheus.rules: |-
    groups:
    - name: Demo alert
      rules:
      - alert: High Pod Memory
        expr: sum(container_memory_usage_bytes) > 1
        for: 1m
        labels:
          severity: slack
        annotations:
          summary: High Memory Usage
